:root {
  --accent-color: #4d5ae5;
  --svg-color: #f4f4fd;
  --color-osnow: #2e2f42;
  --label-color: #8e8f99;
  --checkcolor: #404bbf;
  --main-font: 'Roboto', sans-serif;
  --main-size: 14px;
  --white-color: #ffffff;
}
/* reset */
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  /* width: 1158px;
  margin: 0 auto;
  padding: 0 15px 0 15px; */
  width: 100%;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
/* Desktop */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* base style */
body {
  font-family: var(--main-font);
  font-size: var(--main-size);
  color: #434455;
  background-color: #ffffff;
}
/* header style */
.main-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 14px;
}
@media screen and (min-width: 768px) {
  .main-header .container {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.logo-header {
  font-family: 'Raleway', sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 0;
}
.logo-span {
  font-family: 'Raleway', sans-serif;
  color: #2e2f42;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .logo-header {
    font-family: 'Raleway', sans-serif;
    color: #4d5ae5;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 0;
  }
}
.logo-span {
  font-family: 'Raleway', sans-serif;
  color: #2e2f42;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}
.mobile-menu-btn {
  background-color: transparent;
  border: none;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}

.mobile-menu-icon {
  fill: var(--color-osnow);
  display: block;
}

.logo-header > span {
  font-style: italic;
}

.main-header .content-wrapper {
  display: none;
}
@media screen and (min-width: 768px) {
  .main-header .content-wrapper {
    display: flex;
    gap: 28px;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .main-header .content-wrapper {
    display: flex;
    gap: 90px;
  }
}
.menu-list {
  display: flex;
  gap: 20px;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .menu-list {
    gap: 24px;
  }
}
